@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Quicksand:wght@300..700&display=swap");
body {
  background-color: #f4f0e5;
}
.titre {
  font-family: "Cinzel Decorative", serif;
  font-weight: 500;
}

.Intro p {
  font-family: "Quicksand", sans-serif;
}
.Intro img {
  width: 50%;
  border-radius: 50px;
}
.Intro {
  text-align: center;
}
