@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Cinzel:wght@400..900&family=Quicksand:wght@300..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* Containers */
  .containerNeumorphism {
    @apply w-full shadow-area bg-beige gap-y-8 gap-x-[0.3rem] mx-0 my-4 p-12 rounded-6xl;
    scrollbar-width: none;
  }

  .containerPlayground {
    @apply w-90 sm:w-80 min-h-[400px] shadow-area bg-beige flex flex-wrap gap-y-8 justify-center gap-x-[0.3rem] mx-0 my-4 p-4 sm:p-6 md:p-8 rounded-6xl;
  }

  .characterCard {
    @apply w-[30vw] lg:w-[20vw] xl:w-[15vw] h-full bg-beige shadow-area flex flex-col justify-center items-center gap-2 md:gap-4 p-2 pb-4 md:p-4 rounded-4xl md:rounded-6xl;
  }

  /* Components */
  .btn-primary {
    @apply bg-dabrown font-quicksand rounded-4xl px-4 py-4 shadow-crd text-beige;
  }

  .btn-secondary {
    @apply bg-grey font-quicksand rounded-4xl px-4 py-4 shadow-crd;
  }

  .btn-third {
    @apply bg-beige text-dabrown font-semibold font-quicksand rounded-4xl px-4 py-4 shadow-area;
  }

  /* General */
  * {
    @apply box-border scroll-smooth m-0 p-0;
  }
  body {
    @apply bg-beige overflow-x-hidden;
  }

  .title-sections {
    @apply font-cinzel text-dabrown text-xl md:text-2xl lg:text-3xl leading-9 text-center;
  }

  .characterCard img {
    @apply w-full h-full max-w-60 rounded-4xl md:rounded-6xl;
  }
  /* Navbar */
  .burger-menu {
    @apply top-36 right-0 max-w-[95vw] bg-dabrown shadow-crd rounded-l-6xl py-10 px-[5vw] flex flex-col gap-6;
  }
  .burger-title {
    @apply font-logo text-xl text-beige border-b-2 border-brown border-opacity-25;
  }
  .burger-list {
    @apply font-cinzel text-xl text-beige border-b-2 border-brown border-opacity-25;
  }
  .burger-link {
    @apply hover:[text-shadow:_0_0_16px_#faf9f8];
  }

  /* Rules */
  .rules-title {
    @apply font-quicksand font-bold text-lg text-dabrown leading-8;
  }
  .rules-text {
    @apply font-quicksand font-light text-dabrown leading-7;
  }

  /* Selection Character */
  .characterCardSelection {
    @apply relative w-[120px] h-[380px] shadow-crd flex justify-center items-center transition-[0.6s] duration-[0.6s] cursor-pointer overflow-hidden mx-[0.4rem] my-0 rounded-[100px] border-4 border-solid border-beige;
  }

  .containerNeumorphism input:checked + label > .modalCharacterSelection {
    @apply shadow-crd absolute transition-[0.6s] duration-[0.6s] rounded-[40px] top-[55%];
    background: linear-gradient(145deg, #fffff5, #dcd8ce);
  }

  .containerNeumorphism span,
  .containerNeumorphism input {
    @apply hidden;
  }
  .containerNeumorphism input:checked + label {
    @apply w-[200px] rounded-[40px];
  }

  .modalCharacterSelection {
    @apply font-quicksand flex flex-col items-center gap-y-[0.6rem] absolute w-full h-full text-center pt-[1.3rem] top-full;
  }

  .modalCharacterSelection button {
    @apply bg-dabrown h-[47px] font-quicksand w-4/5 text-libeige shadow-[-4px_-4px_8px_rgba(250,249,248,0.5),4px_4px_8px_rgba(40,33,33,0.25)] px-5 py-2.5 rounded-[25px];
  }

  /* Playground */
  .title-playground {
    @apply font-cinzel text-beige text-3xl font-semibold leading-9 text-center my-6;
    text-shadow:
      0px 0px 40px beige,
      0px 0px 20px beige,
      0px -4px 10px beige,
      0px 0px 20px beige;
  }

  .playground {
    @apply relative flex flex-col items-center justify-center w-full h-full rounded-[40px];
  }

  .modal {
    @apply w-full h-full absolute flex flex-col items-center justify-center;
  }

  .modal::before {
    @apply content-[""] bg-dabrown opacity-75 blur-[7.5px] w-full h-full absolute rounded-[40px];
  }

  .modalText {
    @apply relative text-center mx-8 my-0;
  }

  .playgroundBackground {
    @apply relative h-full w-full flex items-center justify-center;
  }

  .playgroundBackground::before {
    @apply content-[""] bg-dabrown bg-cover absolute opacity-50 rounded-[40px] inset-0;
  }

  .playgroundContent {
    @apply flex flex-col items-center justify-center gap-y-6 md:gap-y-8 lg:gap-y-10 xl:gap-y-14 relative text-beige text-base leading-[0.9] text-center px-0 py-12;
  }

  .titleRound {
    @apply bg-beige text-dabrown font-bold text-[1.25rem] w-3/5 shadow-area p-4 rounded-6xl;
  }

  .spellsSelection {
    @apply grid grid-cols-[repeat(2,1fr)] lg:grid-cols-[repeat(4,1fr)] gap-4 p-4 bg-beige shadow-area rounded-4xl lg:rounded-6xl lg:w-[70vw] xl:w-[60vw] 2xl:w-[50vw];
  }

  .healthBar {
    @apply w-[80%] md:w-[70%] border rounded-6xl border-solid border-dabrown;
  }
  .health {
    @apply float-right w-full h-2.5 bg-dabrown rounded-6xl;
  }

  .layoutPlayers {
    @apply mx-auto w-full flex flex-col gap-4 sm:gap-6 xl:gap-10 lg:w-[70vw] xl:w-[60vw] 2xl:w-[50vw];
  }

  .nextButton {
    @apply flex flex-col items-center;
    grid-area: btn;
  }
  .nextButton button {
    @apply w-[200px];
  }
  .buttonNext {
    @apply text-white text-center;
  }
}
