@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Cinzel:wght@400..900&family=Quicksand:wght@300..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #f4f0e5;
}

.titre {
  font-family: "Cinzel Decorative", serif;
  font-weight: 500;
}

.intro p {
  font-family: "Quicksand", sans-serif;
}

.intro img {
  width: 50%;
  border-radius: 50px;
}

.intro {
  text-align: center;
}

.Card {
  height: 500px;
  background-color: #dfac22;
  border-radius: 15px;
  box-shadow:
    -8px -8px 16px rgba(250, 249, 248, 0.15),
    8px 8px 16px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 20px;
  width: 300px;
  height: 480px;
}

.Card img {
  border-radius: 50px;
  width: 16rem;
}

.barreHp {
  width: 144px;
  height: 10px;
  background: green;
  border-radius: 50px;
  flex: none;
  order: 0;
  flex-grow: 0;
}
